<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<div >
  <mat-card  >
  <div class="container1">
  <img src="./assets/in1.webp" alt="Notebook" style="width:100%; height: 600px;">
  <div class="content1">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 400; font-size:70px;">ADD YOUR DAILY ACTIVITIES.</h1>
    <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 400; font-size:40px;">To Do gives you focus, from work to play. </h2>
    <p></p>
  </div>
</div>
<div class="Home" style="height: auto; padding: 0%;" >
  
  
  
  
  
</div>
<div id="about" style="height: 200px; " >About</div>
<div id="contact"style="height: 100px;background-color: aliceblue; " >Contact Us</div>
<footer class="container-fluid text-center" style="color: black;">
  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  ">Designed By Prakash Chavhan</p>
</footer>

</mat-card>
</div>